<div class="update-header">
    <h1 class="modal-title">{{ 'panel.panelUser.update.title' | translate }}</h1>
    <button aria-label="Close" type="button" (click)="closeModal()" class="close" aria-hidden="true">×</button>
</div>

<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="userData">
    <div class="update-body">

        <div class="item row">
            <div class="col-sm-6  mb-1 mb-sm-0">
                <label>{{ 'panel.panelUser.update.name' | translate }}:</label>
                <input [(ngModel)]="userData.name" type="text" class="form-control" placeholder="{{ 'panel.panelUser.update.name' | translate }}" name="fname" #username="ngModel" autocomplete="off" required>

                <div [ngStyle]="{'visibility': f.submitted &&  username.errors?.required ? 'visible' : 'hidden'}" class="validation">
                    <span>{{ 'panel.panelUser.update.nameRequired' | translate }}</span>
                </div>

            </div>

            <div class="col-sm-6">
                <label>{{ 'panel.panelUser.update.surname' | translate }}:</label>
                <input [(ngModel)]="userData.surname" type="text" class="form-control" placeholder="{{ 'panel.panelUser.update.surname' | translate }}" name="fsurname" #surname="ngModel" autocomplete="off" required>

                <div [ngStyle]="{'visibility': f.submitted &&  surname.errors?.required ? 'visible' : 'hidden'}" class="validation">
                    <span>{{ 'panel.panelUser.update.surnameRequired' | translate }}</span>
                </div>

            </div>

        </div>

        <div class="item">
            <label>{{ 'panel.panelUser.update.email' | translate }}:</label>
            <input [(ngModel)]="userData.email" type="text" class="form-control" placeholder="{{ 'panel.panelUser.update.email' | translate }}" name="femail" #email="ngModel" email="true" autocomplete="off" required>

            <div [ngStyle]="{'visibility': f.submitted &&  email.invalid ? 'visible' : 'hidden'}" class="validation">
                <span *ngIf="email.errors?.required"> {{ 'panel.panelUser.update.emailRequired' | translate }}</span>
                <span *ngIf="email.invalid && !email.errors?.required ">{{ 'panel.panelUser.update.emailValid' | translate }}</span>
            </div>

        </div>


        <div class="item row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>{{ 'panel.panelUser.update.role' | translate }}:</label>

                <ng-select *ngIf="permissionStates.roles" [ngModel]="userData.role" (ngModelChange)="changeUserRole($event)" placeholder="{{'panel.panelUser.create.form.item4.placeholder' | translate}}" class="ng-select-table custom" [searchable]="false" [clearable]="false" name="fRole">
                    <ng-option *ngFor="let item of userRoles" [value]="item">{{item.name | titlecase}}</ng-option>
                </ng-select>
                <p *ngIf="!permissionStates.roles">{{ 'panel.panelUser.update.error.rolePermission' | translate }}</p>
            </div>

            <div class="col-sm-6">
                <label>{{'panel.panelPermission.update.statusLabel' | translate}}</label>
                <ng-select *ngIf="statusKeys" class="ng-select-table" [(ngModel)]="userData.status" name="fStatus" [clearable]="false" [searchable]="false">
                    <ng-option *ngFor="let item of statusKeys" [value]="item">{{'panel.panelPermission.update.status.' + item | translate }} </ng-option>
                </ng-select>
            </div>

        </div>

        <div class="col-12" class="tab-container">
            <h4>{{ 'panel.panelUser.update.tabTitle' | translate }}</h4>

            <tabset *ngIf="modifiedPermissions && modifiedPermissions.length>0" class="tab" [vertical]="tabTitleState" [justified]="justified">
                <tab heading="{{ 'panel.panelUser.update.tabHeadings.wallet' | translate }}">
                    <ul *ngFor="let item of  modifiedPermissions | searchFilter:'wallet'" (click)="item.state = !item.state">
                        <li>{{item.description}}</li>
                        <ui-checkbox [checkbox]="item.state"></ui-checkbox>
                    </ul>
                </tab>

                <tab heading="{{ 'panel.panelUser.update.tabHeadings.panel' | translate }}">
                    <ul *ngFor="let item of modifiedPermissions | searchFilter:'panel'" (click)="item.state = !item.state">
                        <li class="w-100">{{item.description}}</li>
                        <ui-checkbox [checkbox]="item.state"></ui-checkbox>
                    </ul>
                </tab>

                <tab heading="{{ 'panel.panelUser.update.tabHeadings.setting' | translate }}">
                    <ul *ngFor="let item of modifiedPermissions | searchFilter:'setting'" (click)="item.state = !item.state">
                        <li>{{item.description}}</li>
                        <ui-checkbox [checkbox]="item.state"></ui-checkbox>
                    </ul>
                </tab>

                <tab heading="{{ 'panel.panelUser.update.tabHeadings.report' | translate }}">
                    <ul *ngFor="let item of modifiedPermissions | searchFilter:'report'" (click)="item.state = !item.state">
                        <li>{{item.description}}</li>
                        <ui-checkbox [checkbox]="item.state"></ui-checkbox>
                    </ul>
                </tab>

                <tab heading="{{ 'panel.panelUser.update.tabHeadings.auth' | translate }}">
                    <ul *ngFor="let item of modifiedPermissions | searchFilter:'auth'" (click)="item.state = !item.state">
                        <li>{{item.description}}</li>
                        <ui-checkbox [checkbox]="item.state"></ui-checkbox>
                    </ul>
                </tab>

            </tabset>

            <p *ngIf="!permissionStates.permissions" class="text-center pt-4">{{ 'panel.panelUser.update.error.permission' | translate }}</p>
        </div>

    </div>

    <div class="update-footer">
        <div class="row">

            <div class="col-6">
                <button type="button" class="btn btn-cancel" (click)="closeModal()">{{ 'panel.panelUser.update.btnCancel' | translate }}</button>
            </div>

            <div class="col-6">
                <button type="submit" [disabled]="!permissionStates.permissions || !permissionStates.roles" class="btn btn-save">{{ 'panel.panelUser.update.btnSubmit' | translate }}</button>
            </div>

        </div>
    </div>
</form>
