<div class="container-fluid d-flex justify-content-center align-items-center">

    <div class="select-service">

        <div class="row">

            <div class="col-sm-6 col-12">
                <a class="card bg-teal-300" routerLink="/wallet">
                    <div class=" card-body">
                        <h3 class="font-weight-semibold mb-o"> {{ 'dashboard.selectService.walletCardTitle' | translate }} </h3>
                        <div>{{ 'dashboard.selectService.walletCardInfo' | translate }}</div>
                    </div>
                </a>
            </div>

            <!-- <div class="col-sm-6 col-12">
                <div class="card bg-primary-300" routerLink="/business">
                    <div class="card-body">
                        <h3 class="font-weight-semibold mb-o">{{ 'dashboard.selectService.businessCardTitle' | translate }}</h3>
                        <div>{{ 'dashboard.selectService.businessCardInfo' | translate }}</div>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-12">
                <a class="card bg-danger-300" routerLink="/settings">
                    <div class="card-body">
                        <h3 class="font-weight-semibold mb-o">{{ 'dashboard.selectService.settingsCardTitle' | translate }}</h3>
                        <div>{{ 'dashboard.selectService.settingsCardInfo' | translate }}</div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6 col-12">
                <a class="card bg-primary-300" routerLink="/reports">
                    <div class=" card-body">
                        <h3 class="font-weight-semibold mb-o">{{ 'dashboard.selectService.reportsCardTitle' | translate }}</h3>
                        <div>{{ 'dashboard.selectService.reportsCardInfo' | translate }}</div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-12">
                <div class="card bg-brown-300" routerLink="/merchants">
                    <div class="card-body">
                        <h3 class="font-weight-semibold mb-o">{{ 'dashboard.selectService.merchants' | translate }}</h3>
                        <div>{{ 'dashboard.selectService.merchants' | translate }}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
