[Unit]
Description=Paymango admin service.

[Service]
Type=simple
User=paymango-admin
ExecStart=/bin/bash /opt/monpaymangoeytolia/admin/run.sh

[Install]
WantedBy=multi-user.target

