[Unit]
Description=Paypango admin service.

[Service]
Type=simple
User=paypango-admin
ExecStart=/bin/bash /opt/paypango/admin-web/run.sh

[Install]
WantedBy=multi-user.target

