<div class="container-fluid d-flex justify-content-end align-items-center">
    <div class="row btn d-flex align-items-center justify-content-center bg-success-400 px-4 py-2 my-3" (click)="addAccount()">
        <i class="fa fa-plus mr-2"></i>
        <span>{{'settings.bankAccounts.list.btnAddAccount' | translate }}</span>
    </div>
</div>

<div class="bg-white" *ngIf="!emptyAccount">

    <div class="datatable-scroll table-container">
        <table class="table datatable-data-search-inputs dataTable no-footer table-hover" role="grid">

            <thead>

                <tr role="row" class="table-top">

                    <td tabindex="0" rowspan="1" colspan="1">
                        <div *ngIf="searchData || (accountList && accountList.length > 0)" class="dataTables_filter d-flex mx-0">
                            <label class="d-flex">
                                <span>{{ 'settings.bankAccounts.list.filterLabel' | translate }}:</span>
                                <input class="w-100" type="search" placeholder="{{'settings.bankAccounts.list.filterPlaceholder' | translate }}" [ngModel]="searchData" (ngModelChange)="searchAccount($event)">
                            </label>
                        </div>
                    </td>

                    <td tabindex="0" rowspan="1" colspan="6"></td>

                    <td tabindex="0" rowspan="1" colspan="1">
                        <ng-select *ngIf="statusKeys && (accountList && accountList.length > 0 || selectedStatus)" [ngModel]="selectedStatus" class="ng-select-table" [searchable]="false" placeholder="{{'settings.bankAccounts.list.statusPlaceholder' | translate }}" (ngModelChange)="filterStatus($event)">
                            <ng-option *ngFor="let item of statusKeys" [value]="item">{{'settings.bankAccounts.list.tableStatus.' + item | translate }} </ng-option>
                        </ng-select>
                    </td>

                    <td tabindex="0" rowspan="1" colspan="1">
                        <div class="dataTables_length d-flex">
                            <label class="d-flex">
                                <span>{{'settings.bankAccounts.list.tableSizeLabel' | translate }}:</span>
                                <select name="DataTables_Table_0_length" class="custom-select pl-3 pr-4" [(ngModel)]="paginationCount" (ngModelChange)="paginationCountChange($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </td>
                </tr>

                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.bankHolder' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.bankName' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.accountNumber' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.branchName' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.branchCode' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.iban' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.dateCreated' | translate }}</th>
                    <th class="text-center" tabindex="0" rowspan="1" colspan="1">{{ 'settings.bankAccounts.list.tableHead.status' | translate }}</th>
                    <th class="text-center sorting-disabled" tabindex="0" rowspan="1" colspan="2">{{ 'settings.bankAccounts.list.tableHead.actions' | translate }}</th>
                </tr>
            </thead>

            <tbody>

                <ng-container *ngIf="isLoaded">
                    <tr *ngFor="let account of accountList">
                        <td>{{account.bank_holder}}</td>
                        <td>{{account.bank_name}}</td>
                        <td>{{account.account_number}}</td>
                        <td>{{account.branch_name}}</td>
                        <td>{{account.branch_code}}</td>
                        <td>{{account.iban | iban}}</td>
                        <td>{{account.date_created | customDatePipe:true}}</td>
                        <td class="text-center">
                            <span class="badge" [ngClass]="{'badge-danger': account.status === 'deleted', 'badge-info': account.status === 'passive', 'badge-success': account.status === 'active'}">
                                {{ 'settings.bankAccounts.list.tableStatus.' + account.status | translate }}
                            </span>
                        </td>
                        <td class="text-center" colspan="2">
                            <button class="btn btn-sm alpha-slate text-slate-800 btn-icon rounded-round ml-2" type="button" (click)="accountDetails(account.id)" tooltip="{{ 'settings.bankAccounts.list.actionDetailTooltip' | translate }}">
                                <i class="icon-eye"></i>
                            </button>
                            <button class="btn btn-sm alpha-slate text-slate-800 btn-icon rounded-round ml-2" type="button" (click)="updateAccount(account)" tooltip="{{ 'settings.bankAccounts.list.actionEditTooltip' | translate }}">
                                <i class="icon-pencil3"></i>
                            </button>
                            <button class="btn btn-sm bg-danger-400 text-slate-800 btn-icon rounded-round ml-2" type="button" (click)="deleteAccount(account)" tooltip="{{ 'settings.bankAccounts.list.actionDeleteTooltip' | translate }}">
                                <i class="icon-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>

                <tr *ngIf="(accountList && accountList.length == 0) && isLoaded">
                    <td colspan="12">
                        <h2 class="text-md-center py-5">{{ 'settings.bankAccounts.list.noData' | translate }}</h2>
                    </td>
                </tr>

                <tr *ngIf="!isLoaded">
                    <td colspan="12" class="px-0">
                        <spinner></spinner>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>

    <div class="datatable-footer pb-1 pb-md-0">

        <div *ngIf="isLoaded" class="dataTables_info mb-1 mb-md-3">
            {{'settings.bankAccounts.list.paginationInfo' | translate: {totalLength: pageInfo.total, start: pageInfo.start, end: pageInfo.end} }}
        </div>

        <div class="dataTables_paginate paging_simple_numbers d-md-block d-flex justify-content-center" noRightClick>
            <pagination [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [totalItems]="pagination.total" [itemsPerPage]="pagination.size" [maxSize]="maxPage" (pageChanged)="pageChanged($event)" [(ngModel)]="pagination.page"></pagination>
        </div>

    </div>
</div>

<div class="container-fluid my-5 py-5" *ngIf="emptyAccount">
    <div class="row d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
            <img src="../../../../../assets/images/icon-no-data.svg" alt="not found image">
            <h1 class="text-center font-weight-semibold mt-2">{{'settings.bankAccounts.list.notFound.header' | translate}}</h1>
            <p class="text-center text-muted font-weight-semibold mt-2">{{'settings.bankAccounts.list.notFound.info' | translate}}</p>
            <button routerLink="/" class="btn btn-dark w-100 text-white font-weight-semibold py-2 mt-2">
                {{'settings.bankAccounts.list.notFound.btnText' | translate}}
            </button>
        </div>
    </div>
</div>