<div class="update-header">
    <h1 class="modal-title">Fraud Kural Düzenleme</h1>
    <button aria-label="Close" type="button" (click)="closeModal()" class="close" aria-hidden="true">×</button>
</div>


<form *ngIf="fraudData" class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="update-body">

        <div class="form-group row">
            <label class="col-form-label col-sm-3">Adet</label>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="fraudData.param1" #fFraudName="ngModel" name="param1" class="form-control" required autocomplete="off">
                <p [ngStyle]="{'visibility': f.submitted && fFraudName.errors?.required ? 'visible': 'hidden'}" class="validation mb-0">Gerekli alan</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3">Süre</label>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="fraudData.param2" #fFraudName="ngModel" name="param1" class="form-control" required autocomplete="off">
                <p [ngStyle]="{'visibility': f.submitted && fFraudName.errors?.required ? 'visible': 'hidden'}" class="validation mb-0">Gerekli alan</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3">Tutar</label>
            <div class="col-sm-9">
                <input type="text" [(ngModel)]="fraudData.param3" #fFraudName="ngModel" name="param1" class="form-control" required autocomplete="off">
                <p [ngStyle]="{'visibility': f.submitted && fFraudName.errors?.required ? 'visible': 'hidden'}" class="validation mb-0">Gerekli alan</p>
            </div>
        </div>
    </div>

    <div class="update-footer">
        <button type="button" (click)="closeModal()" class="btn btn-cancel">Vazgeç</button>
        <button type="submit" class="btn btn-save">Kaydet</button>
    </div>
</form>
