<div class="detail-header">
  <h1 class="modal-title">{{ 'merchants.detail.header' | translate }}</h1>
  <button aria-label="Close" class="close" type="button" (click)="closeModal()">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="detail-body" *ngIf="merchant">
  <div class="row">
    <accordion>
      <accordion-group>
        <button
          class="btn btn-link btn-block clearfix"
          accordion-heading
          type="button"
        >
          <div class="pull-left float-left">I can have markup!</div>
          <span class="badge badge-secondary float-right pull-right"
            >Some HTML here</span
          >
        </button>
        This is just some content to illustrate fancy headings.
      </accordion-group>
      <accordion-group>
        <button class="btn btn-link" accordion-heading type="button">
          I can have markup, too!
        </button>
        <span class="badge badge-secondary center">And some HTML here</span>
      </accordion-group>
    </accordion>
  </div>
</div>
