<div class="change-password">

    <div class="title">
        <i class="icon-user-lock border-slate-300 text-slate-300 border-3 rounded-round p-1"></i>
        <h1>{{'profile.changePassword.title' | translate}}</h1>
        <p>{{'profile.changePassword.subtitle' | translate}}</p>
    </div>

    <form #form="ngForm" (ngSubmit)="submitForm(form)">

        <div class="item">
            <label>{{'profile.changePassword.form.item1.label' | translate}}</label>
            <i class="icon-user text-muted"></i>
            <input [ngModel]="oldPassword.password" (ngModelChange)="changeOldPassword($event)" placeholder="{{'profile.changePassword.form.item1.placeholder' | translate}}" type={{oldPassword.type}} name="fpasswordOld" #passwordOld="ngModel" autocomplete="off" required />

            <div class="password-icon" (click)="handlerPasswordShow(oldPassword)">
                <i *ngIf="!oldPassword.show" class="icon-eye" [class.active]="oldPassword.password"></i>
                <i *ngIf="oldPassword.show" class="icon-eye-blocked" [class.active]="oldPassword.password"></i>
            </div>

            <div class="warning">
                <i class="icon-exclamation" [class.active]="oldPassword.password" tooltip="{{'profile.changePassword.form.item1.warning' | translate}}"></i>
            </div>

            <div class="validation" [ngStyle]="{visibility: formSubmitted ? 'visible' : 'hidden'}">
                <span *ngIf="passwordOld.errors?.required && passwordOld.invalid">{{'profile.changePassword.form.item1.validation.required' | translate}}
                </span>

                <span *ngIf="!passwordOld.invalid && !oldPassword.validation">{{'profile.changePassword.form.item1.validation.rule' |
                  translate}} </span>
            </div>
        </div>

        <div class="item">
            <label>{{'profile.changePassword.form.item2.label' | translate}}</label>
            <i class="icon-lock2 text-muted"></i>
            <input [ngModel]="newPassword.password" (ngModelChange)="changeNewPassword($event)" placeholder="{{'profile.changePassword.form.item2.placeholder' | translate}}" type={{newPassword.type}} name="fpassword" #password="ngModel" autocomplete="off" required />


            <div class="password-icon" (click)="handlerPasswordShow(newPassword)">
                <i *ngIf="!newPassword.show" class="icon-eye" [class.active]="newPassword.password"></i>
                <i *ngIf="newPassword.show" class="icon-eye-blocked" [class.active]="newPassword.password"></i>
            </div>

            <div class="warning">
                <i class="icon-exclamation" [class.active]="newPassword.password" tooltip="{{'profile.changePassword.form.item2.warning' | translate}}"></i>
            </div>

            <div class="validation" [ngStyle]="{visibility: formSubmitted  ? 'visible' : 'hidden'}">
                <span *ngIf="password.errors?.required && password.invalid ">{{'profile.changePassword.form.item2.validation.required' |
        translate}}</span>
                <span *ngIf="!password.invalid && !newPassword.validation">{{'profile.changePassword.form.item2.validation.rule' |
                  translate}} </span>
            </div>
        </div>

        <div class="item">
            <label>{{'profile.changePassword.form.item3.label' | translate}}</label>
            <i class="icon-lock2 text-muted"></i>
            <input [(ngModel)]="repeatPassword.password" placeholder="{{'profile.changePassword.form.item3.placeholder' | translate}}" type={{repeatPassword.type}} name="fpasswordRepeat" #passwordRepeat="ngModel" autocomplete="off" required />

            <div class="password-icon" (click)="handlerPasswordShow(repeatPassword)">
                <i *ngIf="!repeatPassword.show" class="icon-eye" [class.active]="repeatPassword.password"></i>
                <i *ngIf="repeatPassword.show" class="icon-eye-blocked" [class.active]="repeatPassword.password"></i>
            </div>

            <div class="warning">
                <i class="icon-exclamation" [class.active]="repeatPassword.password" tooltip="{{'profile.changePassword.form.item3.warning' | translate}}"></i>
            </div>

            <div class="validation" [ngStyle]="{visibility: formSubmitted ? 'visible' : 'hidden'}">
                <span *ngIf="passwordRepeat.errors?.required && password.invalid">{{'profile.changePassword.form.item3.validation.required' |
        translate}}</span>
                <span *ngIf="newPassword.password != repeatPassword.password  && !password.invalid">{{'profile.changePassword.form.validation.samePassword' | translate}}</span>
            </div>

        </div>

        <button type="submit">{{'profile.changePassword.form.buttonText' | translate}}</button>

    </form>

</div>
