<div class="bg-white mt-3 table-container" *ngIf="!emptyTransaction">

    <div class="datatable-scroll">
        <table class="table datatable-basic dataTable no-footer table-hover" role="grid">

            <thead>
                <tr role="row" class="table-top">

                    <td tabindex="0" rowspan="1" colspan="1">
                        <div *ngIf="searchData || (requestList && requestList.length > 0)" class="dataTables_filter">
                            <label class="d-flex">
                                <span>{{ 'wallet.requestMoney.list.filterLabel' | translate }}:</span>
                                <input class="w-100" type="search" placeholder="{{'wallet.requestMoney.list.filterPlaceholder' | translate }}" [ngModel]="searchData" (ngModelChange)="searchRequest($event)">
                            </label>
                        </div>
                    </td>

                    <td tabindex="0" rowspan="1" colspan="3"></td>

                    <td>
                        <div *ngIf="bsRangeValue || (requestList && requestList.length > 0)" class="date-container">
                            <span *ngIf="start_date && end_date" (click)="clearDate()">x</span>
                            <input readonly class="form-control date-input" placeholder="{{ 'wallet.requestMoney.list.datePlaceholder' | translate }}" bsDaterangepicker [(ngModel)]="bsRangeValue" (ngModelChange)="searchDate($event)">
                        </div>

                    </td>

                    <td>
                        <ng-select *ngIf="stateKeys && (requestList && requestList.length > 0 || selectedStatus)" [ngModel]="selectedStatus" class="ng-select-table" [searchable]="false" placeholder="{{'wallet.requestMoney.list.statusPlaceholder' | translate }}" (ngModelChange)="searchStatus($event)">
                            <ng-option *ngFor="let item of stateKeys" [value]="item">{{'wallet.bankDeposit.list.tableStatus.' + item | translate }} </ng-option>
                        </ng-select>
                    </td>

                    <td tabindex="0" rowspan="1" colspan="1">

                        <div class="dataTables_length">
                            <label class="d-flex">
                                <span>{{'wallet.requestMoney.list.tableSizeLabel' | translate }}:</span>
                                <select name="DataTables_Table_0_length" class="custom-select pl-3 pr-4" [(ngModel)]="paginationCount" (ngModelChange)="paginationCountChange($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </label>
                        </div>
                    </td>
                </tr>

                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.name' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.surname' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.walletNo' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.receiverPhone' | translate }}</th>
                    <th tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.date' | translate }}</th>
                    <th class="text-center" tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.status' | translate }}</th>
                    <th class="text-center" tabindex="0" rowspan="1" colspan="1">{{ 'wallet.requestMoney.list.tableHead.amount' | translate }}</th>
                </tr>
            </thead>
            <tbody>

                <ng-container *ngIf="isLoaded">

                    <tr *ngFor="let request of requestList">
                        <td>{{request.first_name}}</td>
                        <td>{{request.last_name}}</td>
                        <td><a routerLink="/wallet/customer/detail/{{request.wallet_no}}" target="_blank">{{request.wallet_no}}</a></td>
                        <td>{{request.receiver_phone}}</td>
                        <td>{{request.date_created | customDatePipe:true}}</td>
                        <td class="text-center" colspan="1">
                            <span class="badge" [ngClass]="{'badge-danger': request.status === 'declined', 'bg-orange': request.status === 'waiting', 'badge-success': request.status === 'approved'}">
                                {{'wallet.requestMoney.list.tableStatus.' + request.status | translate }}
                            </span>
                        </td>
                        <td class="text-center">{{request.amount | currency:'TRY':'':'1.2-3'}} TRY</td>
                    </tr>

                </ng-container>

                <tr *ngIf="(requestList && requestList.length == 0) && isLoaded">
                    <td colspan="12">
                        <h2 class="text-md-center py-5">{{ 'wallet.requestMoney.list.noData' | translate }}</h2>
                    </td>
                </tr>

                <tr *ngIf="!isLoaded">
                    <td class="px-0" colspan="12">
                        <spinner></spinner>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="datatable-footer pb-1 pb-md-0">

        <div *ngIf="isLoaded" class="dataTables_info mb-1 mb-md-3">
            {{'wallet.requestMoney.list.paginationInfo' | translate: {totalLength: pageInfo.total, start: pageInfo.start, end: pageInfo.end} }}
        </div>

        <div class="dataTables_paginate paging_simple_numbers d-md-block d-flex justify-content-center" noRightClick>
            <pagination [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [totalItems]="pagination.total" [itemsPerPage]="pagination.size" [maxSize]="maxPage" (pageChanged)="pageChanged($event)" [(ngModel)]="pagination.page"></pagination>
        </div>

    </div>

</div>

<div class="container-fluid my-5 py-5" *ngIf="emptyTransaction">
    <div class="row d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
            <img src="../../../../../assets/images/icon-no-data.svg" alt="not found image">
            <h1 class="text-center font-weight-semibold mt-2">{{'wallet.requestMoney.list.notFound.header' | translate}}</h1>
            <p class="text-center text-muted font-weight-semibold mt-2">{{'wallet.requestMoney.list.notFound.info' | translate}}</p>
            <button routerLink="/" class="btn btn-dark w-100 text-white font-weight-semibold py-2 mt-2">
                {{'wallet.requestMoney.list.notFound.btnText' | translate}}
            </button>
        </div>
    </div>
</div>