<div class="change-password">

    <div class="change-password-title">
        <i class="icon-user-lock border-slate-300 text-slate-300 border-3 rounded-round p-1"></i>
        <h1>{{'public.changePassword.title' | translate}}</h1>
        <p>{{'public.changePassword.subtitle' | translate}}</p>
    </div>

    <form #form="ngForm" (ngSubmit)="submitForm(form)">

        <div class="item">
            <label>{{'public.changePassword.form.item1.label' | translate}}</label>
            <i class="icon-user text-muted"></i>
            <input [(ngModel)]="password.old" type="text" name="fpasswordOld" #passwordOld="ngModel" autocomplete="off" required placeholder="{{'public.changePassword.form.item1.placeholder' | translate}}" />

            <div class="validation" [ngStyle]="{visibility: formSubmitted && passwordOld.invalid ? 'visible' : 'hidden'}">
                <span *ngIf="passwordOld.errors?.required">{{'public.changePassword.form.item1.validation.required' |
          translate}}</span>
            </div>

        </div>

        <div class="item">
            <label>{{'public.changePassword.form.item2.label' | translate}}</label>
            <i class="icon-lock2 text-muted"></i>
            <input [(ngModel)]="password.new" type="text" name="fpassword" #password="ngModel" autocomplete="off" required placeholder="{{'public.changePassword.form.item2.placeholder' | translate}}" />

            <div class="validation" [ngStyle]="{visibility: formSubmitted && password.invalid ? 'visible' : 'hidden'}">
                <span *ngIf="password.errors?.required">{{'public.changePassword.form.item2.validation.required' |
          translate}}</span>
            </div>
        </div>


        <div class="item">
            <label>{{'public.changePassword.form.item3.label' | translate}}</label>
            <i class="icon-lock2 text-muted"></i>
            <input [(ngModel)]="password.repeat" type="text" name="fpasswordRepeat" #passwordRepeat="ngModel" autocomplete="off" required placeholder="{{'public.changePassword.form.item3.placeholder' | translate}}" />

            <div class="validation" [ngStyle]="{visibility: formSubmitted && passwordRepeat.invalid ? 'visible' : 'hidden'}">
                <span *ngIf="passwordRepeat.errors?.required">{{'public.changePassword.form.item3.validation.required' |
          translate}}</span>
            </div>

        </div>
        <button type="submit">{{'public.changePassword.form.buttonText' | translate}}</button>

    </form>

</div>
